@font-face {
    font-family: 'Circe-Thin'; 
    src: url('Circe-Thin.ttf');
}

@font-face {
    font-family: 'Circe-Light'; 
    src: url('Circe-Light.ttf');
}

@font-face {
    font-family: 'Circe-Regular'; 
    src: url('Circe-Regular.ttf');
}

@font-face {
    font-family: 'Circe-Bold'; 
    src: url('Circe-Bold.ttf');
}

@font-face {
    font-family: 'Circe-ExtraBold'; 
    src: url('Circe-ExtraBold.ttf');
}